<div>
	<h3>Create A List</h3>

	<%= form_for [@group, @list] do |f| %>
		<div>
			<%= f.label :name %>
	    <%= f.text_field :name, :class => 'comment-button'  %>

	    <%= f.hidden_field :group_id %>

	    <%= f.submit "Create Your List", :class => 'comment-button'  %>
    </div>
	<% end %>

</div>
