<div class="row" id="proposal_index">
	<div class="col-xs-3" id="sidebar">
		<div class="user_holder">
			<p id="user_name"> <%= current_user.name %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100">
			</div>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text" id="toption">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text" id="toption">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='' class="option_text" id="toption">Partner/Group</a>
		</div>
	</div>
	<div class="col-xs-9" id="proposal_holder">
	<% @proposals.each do |p| %>
	<div class="proposal">
	<h1 class = "p_title"><%= link_to p.title, proposal_path(p) %></h1>
<!-- 		<h1 class="p_title"> <%= p.title %> </h1> -->
		<div class="time_holder">
			<p class="p_start_date"> <%= p.start_date.try(:strftime, '%b. %e, %Y' ' at') %>
			<p class="p_start_time"> <%= p.start_time.try(:strftime, '%I:%M %p') %> </p>
		</div>
	</div>
	<% end %>
	</div>
</div>
