<div class="row no-margin">
	<div class="col-md-3 fixed" id="sidebar">
		<div class="user_holder">
				<p id="user_name"> <% if current_user %>
  			<%= current_user.name %>
		 		<% end %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100">
			</div>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='/groups' class="option_text">Partner/Group</a>
		</div>
		<div class="sidebar_option">
			<p class="option_text">
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</p>
		</div>
	</div>
	<div class="col-md-3 spacer"></div>
	<div class="col-md-9" id="proposal_holder">
	<h1 class="page_header"> My Events </h1>
	<div class="spacer"></div>
		<% @proposals.each do |p| %>
			<% p.attendees.each do |a| %>
		 		<% if current_user.id == p.owner_id || current_user.email == a.email_address %>
					<div class="proposal">

						<div class="time_holder">
							<h1 class="p_title"><%= link_to p.title, proposal_path(p) %></h1>
							<p class="p_start_date"> <%= p.start_date.try(:strftime, '%A, %b. %e, %Y' ' at') %> <%= p.start_time.try(:strftime, '%I:%M %p') %> </p>
							<p class="p_location"> <%= p.location %> </p>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
