<div class="row" id="proposal_index">
	



	<div class="col-md-3" id="sidebar">
		<div class="user_holder">
			<p id="user_name"> <% if current_user %>
  			<%= current_user.name %>
		 <% end %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100">
			</div>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text" id="toption">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text" id="toption">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='' class="option_text" id="toption">Partner/Group</a>
		</div>
		<div class="sidebar_option">
			<p class="option_text">
			<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</p>
		</div>
	</div>


	<div class="col-md-9" id="proposal_form">
		<h1 class="page_header">Create An Event </h1>
		<div class="spacer"></div>
			<div class="row">
			<%= form_for @proposal do |f| %>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Event Description
						</h1>
						<div class="center-block">						
							<h1 class="input-title text-center">
								Title
							</h1>
							<%= f.text_field :title, class: 'form-control form-margin form-width' %>
						</div>
						<div class="center-block">
							<h1 class="input-title text-center">
								Description
							</h1>
							<%= f.text_area :description, class: 'form-control form-margin form-width', rows: 3 %>
						</div>	
						<div class="center-block">						
							<h1 class="input-title text-center">
								Location
							</h1>
							<%= f.text_field :location, class: 'form-control form-margin form-width' %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Potential Times
						</h1>

						<button class='btn btn-default center-block add-button'>
							<%= link_to_add_association 'Add A Time', f, :timeslots %>
						</button>

						<%= f.fields_for :timeslots do |timeslot| %>
								<%= render "timeslot_fields", :f => timeslot %>
						<% end %>
					</div>

				</div>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Attendees
						</h1>

						<div class="attendee_form">
							<%= f.fields_for :attendees do |attendee| %>
								<%= render "attendee_fields", :f => attendee %>
							<% end %>
						</div>

						<button class='btn btn-default center-block add-button'>
							<%= link_to_add_association 'Add Another Attendee', f, :attendees %>
						</button>
					</div>
				</div>
		</div>
			<div class="row submit_row">
					<%= f.submit 'Submit', class: 'btn btn-xl center-block' %>
			</div>

			<% end %>

		</div>
		</div>
	</div>
</div>

