<div class="row no-margin no-padding">
	<div class="col-md-3 fixed" id="sidebar">
		<div class="user_holder">
			<p id="user_name"> <% if current_user %>
  			<%= current_user.name %>
		 <% end %> </p>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text" id="toption">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text" id="toption">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='/groups' class="option_text" id="toption">Settings</a>
		</div>
		<div class="sidebar_option">
			<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "option_text" %>
		</div>
	</div>
	<div class="col-md-3 no-padding">
	</div>

	<div class="col-md-9 no-padding" id="proposal_holder">
		<h1 class="page_header ease-fast">Create An Event </h1>
		<div class="spacer"></div>
			<div class="row section-spacing">
			<%= form_for @proposal do |f| %>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Event Description
						</h1>
						<div class="center-block">
							<h1 class="input-title text-center">
								Title
							</h1>
							<%= f.text_field :title, placeholder: 'E.g, "Morning Lecture"', class: 'form-control form-margin form-width' %>
						</div>
						<div class="center-block">
							<h1 class="input-title text-center">
								Description
							</h1>
							<%= f.text_area :description, placeholder: "What's your event about?", class: 'form-control form-margin form-width', rows: 3 %>
						</div>
						<div class="center-block">
							<h1 class="input-title text-center">
								Location
							</h1>
							<%= f.text_field :location, placeholder: 'Enter a Location', class: 'form-control form-margin form-width' %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Potential Times
						</h1>

						<div class="timeslot-js-trig">
						<%= f.fields_for :timeslots do |timeslot| %>
								<%= render "timeslot_fields", :f => timeslot %>
						<% end %>
						</div>

						<button class='btn btn-default center-block time-button'>
							<%= link_to_add_association 'Add A Time', f, :timeslots, id: 'add-time-js' %>
						</button>

					</div>

				</div>
				<div class="col-md-4">
					<div class="form-block">
						<h1 class="form_row_title">
							Attendees
						</h1>



						<div class="attendee_form">
							<%= f.fields_for :attendees do |attendee| %>
								<%= render "attendee_fields", f: attendee %>
							<% end %>
						</div>


						<button class='btn btn-default center-block add-button'>
							<%= link_to_add_association 'Add Another Attendee', f, :attendees, id: 'add-attendee-js' %>
						</button>
					</div>
				</div>
		</div>
			<div class="row submit_row">
					<%= f.submit 'Submit', class: 'btn btn-xl center-block' %>
			</div>

			<% end %>

		</div>
		</div>
	</div>
</div>

