<div class="row no-margin no-padding">
	<div class="col-md-3 fixed" id="sidebar">
		<div class="user_holder">
			<p id="user_name"> <% if current_user %>
  			<%= current_user.name %>
		 <% end %> </p>
			<div id="img_holder">
				<img id="user_image" src="https://placehold.it/100x100">
			</div>
		</div>
		<div class="sidebar_option">
			<a href="/events" class="option_text" id="toption">My Calendar</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals/new' class="option_text" id="toption">Create An Event</a>
		</div>
		<div class="sidebar_option">
			<a href='/proposals' class="option_text" id="toption">View Events</a>
		</div>
		<div class="sidebar_option">
			<a href='/groups' class="option_text" id="toption">Partner/Group</a>
		</div>
		<div class="sidebar_option">
			<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "option_text" %>
		</div>
	</div>
	<div class="col-md-3 no-padding">
	</div>

	<div class="col-md-9 no-padding" id="proposal_holder">

		<h1 class="page_header"> Details for <%= @proposal.title %></h1>

		<div class="proposal_info">
			<h1 class="prop_title prop"><%= @proposal.title %></h1>
			<div class="prop_location prop"><span class="where-what">Description:</span> <%= @proposal.description %> </div>
			<div class="prop_description prop"><span class="where-what">Where:</span> <%= @proposal.location %> </div>
		</div>

		<div>
			<% @proposal.timeslots.each do |t| %>
				<div class="a_proposal">
					<p class="prop_date"><%= t.start_date.strftime("%b. %d, %Y") %>, <%= t.start_time.strftime("%I:%M %p") %>-<%= t.end_time.strftime("%I:%M %p")  %></p>

						<% if Vote.where("user_id = ? AND timeslot_id = ?", current_user.id, t.id) != [] %>
							<div> You've Voted </div>
						<% else %>
							<%= form_for [@proposal, t, Vote.new], remote: true do |f| %>
								<%= f.submit "Vote", :class => "vote-submit" %>
							<% end %>
						<% end %>
				</div>
			<% end %>

			<% if current_user.id == @proposal.owner_id %>
				<%= button_to "Create Event", events_path(:timeslot => @proposal.winning_timeslot), :method => :create %>
			<% else %>
			<% end %>

		</div>


		<br>

		<div class="comment-pad">
			<h1 class="chat-box">Chat:</h1>
							<ul class="comment-list">
								<li><% @proposal.comments.each do |comment| %>
								<p><span class="comment-name"><%= comment.user.name %> says:</span> <%= comment.body_text %></p></li>
						<% end %>
					</ul>
		</div>
		<div class="comment-pad">
				<%= render partial: 'comments/comment_form' %>
		</div>
	</div>
</div>
</div>
