<div>
	<ul>
		<li><p class="bold">Title:</p>
			<%= @proposal.description %></li>
		<li><p class="bold">Description:</p>
			<%= @proposal.description %></li>
		<li><p class="bold">Location:</p>
			<%= @proposal.location %></li>

	<% @proposal.timeslots.each do |t| %>
		<li><p class="bold">Date:</p>
			<%= t.start_date.strftime("%b. %d, %Y") %></li>
		<li><p class="bold">From:</p>
			<%= t.start_time.strftime("%I:%M %p") %> to <%= t.end_time.strftime("%I:%M %p")  %></li>


		<%= form_for [@proposal, t, Vote.new] do |f| %>
			<%= f.submit "Vote" %>
		<% end %>
	<% end %>
	</ul>
</div>